.card{
  background-color: rgb(1, 10, 19);
  opacity: 0.8;
  border: 2px solid;
  border-radius: 10px;
  color: rgb(181, 176, 176);
  width: 270px;
  height: 460px;
  box-shadow: 2px 2px 2px white;

}

img{
  width: auto;
  height: 250px;
}


.card:hover{
  box-shadow: 0 0 50px rgb(7, 173, 239)
}
